html {
background-image: url(assets/bg.jpg);
background-size: cover;
/* background-image: linear-gradient(to top left, #000, #070719); */
opacity: 1;
}


  body {
   background: transparent;
   font: 62.5%;
  }

  #main {
   min-height: 800px;
   margin: 0px;
   padding: 0px;
   display:         flex;
           flex-flow: row;
   }

  #main > nav {
   margin: 4px;
   padding-bottom: 50%;
   padding-top: 50%;
   padding-left: .3%;
   padding-right: .3%;
   border: 1px solid #8888bb;
   border-radius: 7pt;
   font-size: 62.5%;
           flex: 1 6 20%;
           order: 1;
   }

#main > nav > div p {
  text-align: center;
  font: 62.5%;
  color: white;
  font-weight: 500;
}
#main > .bannerLinks {
  display: inline;
}

  #main > aside {
   margin: 4px;
   padding: 5px;
   border: 1px solid transparent;
   border-radius: 7pt;
           flex: 1 6 20%;
           order: 3;
   }

  header {
  /* display: flex; */ removing allows the inner divs to be on their own line
  display: block;
  justify-content: center;
  text-align: right;
  margin: 4px;
  padding-left: 20%;
  padding-right: 20%;
  min-height: 50px;
  border: 1px solid #eebb55;
  border-radius: 7pt;
  }

  .socialWrapper {
    display: inline-flex;
    text-align: right;
    padding: 1em;
  }


  header > div > i:nth-of-type(1) {
    color:#4B67A0;
    font-size: 40px;
  }

  header > div > i:nth-of-type(2) {
    color:#E75A2C;
    font-size: 40px;
  }

  header > div > i:nth-of-type(3) {
    color:#0084B4;
    font-size: 40px;
  }
  header > div > i:nth-of-type(4) {
    color:#C2181E;
    font-size: 40px;
  }

  .bannerlinks {
    align-self: flex-end;
    padding: 1em;
/*     padding-left: 0;
padding-right: 0;
padding-top: 0;
padding-bottom: 0; */
  }

  .bannerlinks ul {
    display: inline;
  }
  .bannerLinks ul li {
    margin: auto;
    padding: 5px;
    border: 1px solid #8888bb;
    border-radius: 7pt;
    position: relative;
    display: inline-flex;
    background-color: darkred;

  }

  .bannerLinks ul li a {
    text-decoration: none;
    text-align: center;
    color: white;
    font-weight: 500;

  }

  footer {
   display: block;
   margin: 4px;
   padding: 5px;
   min-height: 100px;
   border: 1px solid #eebb55;
   border-radius: 7pt;
   }

   #main > article {
    margin: 4px;
    padding: 5px;
    border: 1px solid #cccc33;
    border-radius: 7pt;
    width: 70% auto;
    height: auto;
            flex: 3 1 60%;
            order: 2;
    }
    article > div {
      position: relative;
    }

    .logoCameraManWrapper {
      margin: 4px;
      padding: 5px;
      border: 1px solid #cccc33;
      border-radius: 7pt;
      height: auto;
              flex: 3 1 60%;
              order: 1;
      padding-bottom: 26%;
      background-image: url(assets/top-image.png);
          background-size: cover;
          background-repeat: no-repeat;
          z-index: 1;
      }

      .newsWrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        margin: 0%;
        padding: 0%;
        height: 100%;
                flex: 3 1 60%;
                order: 1;
      }

      .newsWrapper > div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 4px;
        padding: 28px;
        height: auto;
                flex: 3 1 60%;
                order: 1;
        background-color: white;
      }

      .newsWrapper > div:hover {
        color: white;
        font-family: Helvetica;
        background-color: rgb(255, 255, 149);; }

      .newsWrapper > div > h3 {
        font-size: 20px;
        color: #363731;
        text-align: left;
        margin-bottom: 4px;
        line-height: normal;

      }

      .article {
        font-size: 55%;
        font-family: serif;
        font-size: 62.5%;
        color: #4c5e5a;
        justify-content: space-between;
        padding: 1%;
        color: #545454;
        font-size: 11px;
        line-height: 22px;

      }

      .date {
        justify-content: space-between;
        padding: 1%;
        font-size: 14px;
        color: #b1b1b1;
        text-align: left;
        margin-bottom: 3px;

      }

      .newsWrapper > div > a {
        display: block;
        font-size: 14px;
        color: #df1a1a;
        font-weight: bold;
        text-align: center;
      }

      .newsWrapper > div > a:hover {
        color: white;
        background-color: red; }

  .skatersWrapper {
    display: flex;
    color: white;
    font-family: sans-serif;
    font-weight: bolder;
    min-height: 340px;
    min-width: 98%;
/*     justify-content: space-between;
position: relative;
top: 10px;
bottom: 10px;
right: 10px; */

/*     margin: 0px;
padding: 0px;
border: 1px solid #cccc33;
border-radius: 7pt;
height: 100%;
        flex: 3 1 60%;
        order: 1;
 width: 99%; */
   }
/*    START OF PROFILES
.skatersWrapper{
  width: 675px;
  height: 340px;
  float: left;
  margin-top: 270px;
  margin-left: -676px
}

.tommyGuerreroContainer{
  width: 218px;
  height: 343px;
  float: right;
  background-color: white;
  border-bottom: 3px solid #8D8B89;
}

.tommyPic{
  width: 95%;
  height: 96%;
  margin-top: 9px;
  margin-left: 5px;
  background-image: url("pictures/sk8er-2.png");
  background-size: 238px 329px;
  background-repeat: no-repeat;
}

.tommyCaption{
  color: white;
  margin-top: -214px;
  line-height: 15%;
  text-align: center;
  font-size: xx-large;
}

.lanceMountainContainer{
  width: 219px;
  height: 164px;
  background-color: white;
  float:left;
  border-bottom: 3px solid #8D8B89;
}

.lancePic{
  width: 95%;
  height: 95%;
  margin-left: 5px;
  margin-top: 4px;
  background-image: url("pictures/sk8er-4.png");
  background-size: 210px 200px;
}

.lanceCaption{
  color:white;
  margin-top: -128px;
  line-height: 15%;
  margin-left: 1px;
  text-align: center;
  font-size: 28px;
}

.rodneyMullenContainer{
  width: 218px;
  height: 164px;
  background-color:white;
  float:right;
  margin-right: 10px;
  border-bottom: 3px solid #8D8B89;
}

.rodneyPic{
  width: 95%;
  height: 95%;
  margin-left: 6px;
  margin-top: 4px;
  background-image: url("pictures/sk8er-3.png");
  background-size: 230px 165px;
}

.rodneyCaption{
  color: white;
  margin-top: -128px;
  line-height: 15%;
  margin-left: 1px;
  text-align: center;
  font-size: 28px;
}

.steveCaballeroContainer{
  float: left;
  height: 166px;
  width: 447px;
  margin-top: 10px;
  background-color: white;
  border-bottom: 3px solid #8D8B89;
}

.stevePic{
  width: 97%;
  height: 95%;
  float: left;
  margin-left: 6px;
  margin-top: 4px;
  background-image: url("pictures/sk8er-1.png");
  background-size: 478px 167px;
  background-repeat: no-repeat;

  }

.steveCaption{
  color:white;
  margin-top: -83px;
  float: left;
  font-size: 28px;
  margin-left: 109px;
} */
   /* END OF PROFILES */
.skatersColumnLeft {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    width: 99%;
    height: 99%;
    margin: .5% auto;
    position: relative;
}
.top2skaters {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-around;
  /* min-height: 320px; */
  min-width: 98%;
}

.rodneyMullenContainer {
  display: flex;
  justify-content: space-between;
  width: 35%;
  align-items: flex-end;
  background-image: url(assets/sk8er-3.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.lanceMountainContainer {
  display: flex;
  justify-content: space-between;
  width: 35%;
  align-items: flex-end;
  background-image: url(assets/sk8er-4.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.bottomLeftSkater {
  display: inline-flex;
  justify-content: center;
  background-color: white;
  padding: 2%;
  min-width: 98%;
  position: absolute;
  bottom: 1%;
}

.steveCaballeroContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  align-items: flex-end;
  background-image: url(assets/sk8er-1.png);
  background-size: cover;
  background-repeat: no-repeat;
  /* min-height: 350px; */
  border: 2px black solid;
  background-position: center;
}

.skatersColumnRight {
  display: flex;
  justify-content: center;
  /* flex-direction: row-reverse; */
  min-width: 35%;
  align-items: flex-end;
  margin: .5% auto;
  border: darkgreen solid;
  background-image: url(assets/sk8er-2.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

}
.tommyPic {
/*   background-image: url(assets/sk8er-2.png);
background-size: cover;
background-repeat: no-repeat; */
  margin: .5% auto white;
  min-width: 1%;
}

.boardsWrapper{
  background-color: white;
  height: 99%;
  width: 100%;
  display: flex;
  position:relative;
  justify-content: center;
}

.boardsPics{
  justify-content: space-between;
  margin-top: 25px;
  margin-bottom: 25px;
  width: 80%;

}

}
.boardsPics > img {
    -webkit-transition: all 2s ease; /* Safari and Chrome */
    -moz-transition: all 2s ease; /* Firefox */
    -ms-transition: all 2s ease; /* IE 9 */
    -o-transition: all 2s ease; /* Opera */
    transition: all 2s ease;
}

.boardsPics > img:hover {
    -webkit-transform:scale(1.15); /* Safari and Chrome */
    -moz-transform:scale(1.15); /* Firefox */
    -ms-transform:scale(1.15); /* IE 9 */
    -o-transform:scale(1.15); /* Opera */
     transform:scale(1.15);
}


  /* Too narrow to support three columns */
  @media all and (max-width: 640px) {

   #main, #page {
    -webkit-flex-flow: column;
    flex-direction: column;
   }

   #main > article, #main > nav, #main > aside {
    /* Return them to document order */
    -webkit-order: 0;
            order: 0;
   }

   #main > nav, #main > aside, header, footer {
    min-height: 50px;
    max-height: 50px;
   }

   #main > nav, #main > aside {
     display: none;
   }
  }
