html {
background-image: url(assets/bg.jpg);
background-size: cover;
opacity: 1;
}

  body {
   /* display: block; */
   /* margin: 0 auto; */
   /* width: 70%; */
   background: transparent;
   font: 62.5%;
  }

  #main {
   min-height: 800px;
   margin: 0px;
   padding: 0px;
   display:         flex;
           flex-flow: row;
   }

  #main > nav {
   margin: 4px;
   padding-bottom: 50%;
   padding-top: 50%;
   padding-left: .3%;
   padding-right: .3%;
   border: 1px solid #8888bb;
   border-radius: 7pt;
   font-size: 62.5%;
   background: darkred;
           flex: 1 6 20%;
           order: 1;
   }

#main > nav > div p {
  text-align: center;
  font: 62.5%;
  color: white;
  font-weight: 500;
}
#main > .bannerLinks {
  display: inline;
}

  #main > aside {
   margin: 4px;
   padding: 5px;
   border: 1px solid transparent;
   border-radius: 7pt;
   background-color: darkred;
           flex: 1 6 20%;
           order: 3;
   }

  header {
  /* display: flex; */ removing allows the inner divs to be on their own line
  display: block;
  justify-content: center;
  text-align: right;
  margin: 4px;
  padding-left: 20%;
  padding-right: 20%;
  min-height: 50px;
  border: 1px solid #eebb55;
  border-radius: 7pt;
  background: lightgrey;
  }

  .socialWrapper {
    display: inline-flex;
    text-align: right;
    padding: 1em;
  }


  header > div > i:nth-of-type(1) {
    color:#4B67A0;
    font-size: 40px;
  }

  header > div > i:nth-of-type(2) {
    color:#E75A2C;
    font-size: 40px;
  }

  header > div > i:nth-of-type(3) {
    color:#0084B4;
    font-size: 40px;
  }
  header > div > i:nth-of-type(4) {
    color:#C2181E;
    font-size: 40px;
  }

  .bannerlinks {
    align-self: flex-end;
    padding: 1em;
/*     padding-left: 0;
padding-right: 0;
padding-top: 0;
padding-bottom: 0; */
  }

  .bannerlinks ul {
    display: inline;
  }
  .bannerLinks ul li {
    margin: auto;
    padding: 5px;
    border: 1px solid #8888bb;
    border-radius: 7pt;
    background: darkred;
    position: relative;
    display: inline-flex;

  }

  .bannerLinks ul li a {
    text-decoration: none;
    text-align: center;
    color: white;
    font-weight: 500;

  }

  footer {
   display: block;
   margin: 4px;
   padding: 5px;
   min-height: 100px;
   border: 1px solid #eebb55;
   border-radius: 7pt;
   background: lightgrey;
   }

   #main > article {
    margin: 4px;
    padding: 5px;
    border: 1px solid #cccc33;
    border-radius: 7pt;
    width: 70% auto;
    height: auto;
    background: yellow;
            flex: 3 1 60%;
            order: 2;
    }

   article .logoCameraManWrapper {
     display: flex;
     width: 99%;
     height: 200px auto;

   }
   /* resize images */
   article .topImage {
     width: 99%;
     height: auto;
   }
   article .logoWrapper {
     width: 50%;
     height: auto;
     
   }


   .skatersWrapper {

     width: 99%;
   }

   .inLeftSk8ers {

     width: 50%;
     align-items: flex-start;
   }

   .tommyGuerreroContainer {

     width: 50%;
     align-items: flex-end;
   }


  /* Too narrow to support three columns */
  @media all and (max-width: 640px) {

   #main, #page {
    -webkit-flex-flow: column;
            flex-direction: column;
   }

   #main > article, #main > nav, #main > aside {
    /* Return them to document order */
    -webkit-order: 0;
            order: 0;
   }

   #main > nav, #main > aside, header, footer {
    min-height: 50px;
    max-height: 50px;
   }
   #main > nav, #main > aside {
     display: none;
   }
  }
