html {
background-image: url(assets/bg.jpg);
background-size: cover;
opacity: 1;
}

*{
  -webkit-box-sizing: border-box;
  padding: 0px;
  margin: 0px;

}


  body {
   background: transparent;
   font: 62.5%;
  }

  #main {
   min-height: 800px;
   margin: 0px;
   padding: 0px;
   display:         flex;
           flex-flow: row;
   }

  #main > nav {
   margin: 4px;
   padding-bottom: 50%;
   padding-top: 50%;
   padding-left: .3%;
   padding-right: .3%;
   border-radius: 7pt;
   font-size: 62.5%;
           flex: 1 6 20%;
           order: 1;
   }

#main > nav > div p {
  text-align: center;
  font: 62.5%;
  color: white;
  font-weight: 500;
}
#main > .bannerLinks {
  display: inline;
}

  #main > aside {
   margin: 4px;
   padding: 5px;
   border-radius: 7pt;
           flex: 1 6 20%;
           order: 3;
   }

  header {
  display: block;
  justify-content: center;
  text-align: right;
  margin: 4px;
  padding-left: 20%;
  padding-right: 20%;
  min-height: 50px;
  border-radius: 7pt;
  }

  .socialWrapper {
    display: inline-flex;
    text-align: right;
    padding: 1em;
  }


  header > div > i:nth-of-type(1) {
    color:#4B67A0;
    font-size: 40px;
    background-color:rgba(59, 89, 152, 0.8);

  }

  header > div > i:nth-of-type(2) {
    color:#E75A2C;
    font-size: 40px;
  }

  header > div > i:nth-of-type(3) {
    color:#0084B4;
    font-size: 40px;
  }
  header > div > i:nth-of-type(4) {
    color:#C2181E;
    font-size: 40px;
  }

  .bannerlinks {
    align-self: flex-end;
    padding: 1em;
  }

  .bannerlinks ul {
    display: inline;
  }
  .bannerLinks ul li {
    margin: auto;
    padding: 5px;
    border-radius: 7pt;
    position: relative;
    display: inline-flex;
    background-color: darkred;

  }

  .bannerLinks ul li a {
    text-decoration: none;
    text-align: center;
    color: white;
    font-weight: 500;
    width:200px;

  }

  footer {
   display: block;
   margin: 4px;
   padding: 5px;
   min-height: 100px;
   border-radius: 7pt;
   }

   #main > article {
    margin: 4px;
    padding: 5px;
    border-radius: 7pt;
    width: 70% auto;
    height: auto;
            flex: 3 1 60%;
            order: 2;
    overflow: hidden;
    }
/*     article > div {
  position: relative;
} */
.image-slider {
width: 1025px;
height: 350px;
background:
url(img/peralta-logo.png) 27px 54px no-repeat,
url(img/grid2.png),
url(img/top-image.png) -160px -150px;
margin-bottom: 20px;
border: 10px solid white;
box-shadow: 0px 5px 1px 0px rgba(136, 136, 136, 0.6);
}

.slider-selector {
  display: block;
  width: 100%;
}

.radio-container {
  margin: auto;
  width: 100px;
  padding-bottom: 20px;
}
.radio-1 {
  display: inline-block;
  border: 4px solid white;
  height: 16px;
  width: 16px;
  padding: 0 2px;
  margin-right: 3px;
  margin-left: 3px;
  border-radius: 100%;
  background-color: rgb(193, 0, 29);
  box-shadow: 0px 5px 1px 0px rgba(136, 136, 136, 0.6);
}


.radio-2,
.radio-3 {
  display: inline-block;
  height: 16px;
  width: 16px;
  margin-right: 3px;
  margin-left: 2px;
  border-radius: 100%;
  background-color: #fff;
  box-shadow: 0px 5px 1px 0px rgba(136, 136, 136, 0.6);
}

    .logoCameraManWrapper {
      .logoCameraManWrapper {
        margin: 4vw;
        padding: 5vw;
        border-radius: 7pt;
        height: auto;
        flex: 3 1 60%;
        order: 1;
        padding-bottom: 0vw;

        z-index: 1;
        background-repeat:no-repeat;

        display: block;
      }

      .cameraMan {
        background-image: url(assets/top-image.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position:center;
        width: 200%;
        height:100%;
      }

      .logo1 {
        width:200px;
        height: 100px;
        background-image: url(assets/peralta-logo.png);
      }

      .newsWrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        margin: 0%;
        padding: 0%;
        height: 100%;
                flex: 3 1 60%;
                order: 1;
      }

      .newsWrapper > div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 4em;
        padding: 28em;
        height: auto;
                flex: 3 1 60%;
                order: 1;
        background-color: white;
      }

      .newsWrapper > div:hover {
        color: white;
        font-family: Helvetica;
        background-color: rgb(255, 255, 149);; }

      .newsWrapper > div > h3 {
        font-size: 20vw;
        color: #363731;
        text-align: left;
        margin-bottom: 4px;
        line-height: normal;

      }

      .article {
        font-size: 55%;
        font-family: serif;
        font-size: 62.5%;
        color: #4c5e5a;
        justify-content: space-between;
        padding: 1%;
        color: #545454;
        font-size: 11vw;
        line-height: 22em;
    }

      .date {
        justify-content: space-between;
        padding: 1%;
        font-size: 14vw;
        color: #b1b1b1;
        text-align: left;
        margin-bottom: 3px;

      }

      .newsWrapper > div > a {
        display: block;
        font-size: 14px;
        color: #df1a1a;
        font-weight: bold;
        text-align: center;
      }

      .newsWrapper > div > a:hover {
        color: white;
        background-color: red; }

  .skatersWrapper {
    display: flex;
    color: white;
    font-family: sans-serif;
    font-weight: bolder;
    min-height: 340vw;
    min-width: 98%;
   }

.skatersColumnLeft {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    width: 99%;
    min-height: 6.13em;
    margin: .5% auto;
    position: relative;
    right: 9vw;
    bottom: 1em;
}
.top2skaters {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-around;
  min-height: 150em;
  min-width: 98%;
}

.rodneyMullenContainer {
  display: flex;
  justify-content: center;
  background-color: white;
  padding: 2%;
  min-width: 46%;
  position: absolute;
  min-height: 8.313em;
  top: 6%;
  right: 0%;

}
.rodneyPic {
  background-image: url("assets/sk8er-3.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 95%;
  margin-left: 2em;
  margin-top: 0em;
  background-position: 0em;
  /* height:110px; */
  width: 227em;
  /* background-image: url("pictures/sk8er-3.png"); */
  /* background-size: 230px 165px; */
}

.lanceMountainContainer {
  display: flex;
  justify-content: center;
  background-color: white;
  padding: 2%;
  min-width: 46%;
  position: absolute;
  min-height: 6.313em;
  top: 6%;
  left: 2%;
}

.lancePic {
  background-image: url(assets/sk8er-4.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0em;
  height:110em;
  width: 227em;
}

.bottomLeftSkater {
  display: inline-flex;
  justify-content: center;
  background-color: white;
  padding: 2%;
  min-width: 98%;
  position: absolute;
  min-height: 11.313em;
  /* min-height: 120% */
  max-height: 12.563em;
  bottom: 0em;
  top: 10em;
  left: 0.625em;
}

.steveCaballeroContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  align-items: flex-end;
  background-image: url(assets/sk8er-1.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.skatersColumnRight {
  position: relative;
  display: flex;
  justify-content: center;
  min-width: 35%;
  align-items: flex-end;
  margin: 0% auto;
  background-color: white;
  min-height: 95%;

}
.tommyPic {
  background-image: url(assets/sk8er-2.png);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 94%;
  width: 94%;
  padding: 2%;
  position: absolute;
  right: 2%;
  top: 3%;
  bottom: 3%;
  right: 3%;
  left: 3%;
  background-position: 80% 0%;
  max-height: 90%;


}
.skatersColumnRight p {
  padding: 49% 75% 0% 15vw;
  }

 .skatersColumnLeft > p {
  color: white;
  font-weight: bolder;
  font-size: 35vw;
  line-height: normal;
  padding: 49% 74% 49% 24%;
  transition: all .5s ease; }
}
/*  .lanceCaption .rodneyCaption{
 position: absolute;
 top: 1em;
 left: 1em;
} */

.boardsWrapper{
  width: 100vw;
  display: flex;
  position:relative;
  justify-content: center;
  background-color: white;
}

.boardsPics{
  justify-content: space-between;
  margin-top: 25vw;
  margin-bottom: 25vw;
  width: 80%;
}
.boardsPics > img {
    -webkit-transition: all 2s ease; /* Safari and Chrome */
    -moz-transition: all 2s ease; /* Firefox */
    -ms-transition: all 2s ease; /* IE 9 */
    -o-transition: all 2s ease; /* Opera */
    transition: all 2s ease;
}

.boardsPics > img:hover {
    -webkit-transform:scale(1.15); /* Safari and Chrome */
    -moz-transform:scale(1.15); /* Firefox */
    -ms-transform:scale(1.15); /* IE 9 */
    -o-transform:scale(1.15); /* Opera */
     transform:scale(1.15);
}

.contactWrapper {
    background-color: lightgray;
    min-height:10vw;
    width: 100%;
    display: flex;
    position:relative;
    justify-content: center;
}

.innerRight {
  position: absolute;
  top: 30vw;
  right: 200vw;

}

.innerLeft {
  float: left;
  clear: right;
  overflow: hidden;
  position: absolute;
  top: 20vw;
  left: 20vw;
}

.innerLeftHeader {
  height: 200vw;
  width: 200vw;
}

.innerLeftParagraph {
  height:200vw;
  width:200vw;
}


  /* Too narrow to support three columns */
  @media all and (max-width: 640vw) {

   #main {
    -webkit-flex-flow: column;
    flex-direction: column;
   }

   #main > article, #main > nav, #main > aside {
    /* Return them to document order */
    -webkit-order: 0;
            order: 0;
   }

   #main > nav, #main > aside, header, footer {
    min-height: 50vw;
    max-height: 50vw;
   }

   #main > nav, #main > aside {
     display: none;
   }
  }
